Repository diogosouzas/android-mvvm-template, changes with the labels that .github/labeler.yml gives for each.
All labels: component/ui, component/domain, component/data, component/di, component/testing, type/gradle, type/ci-cd, type/documentation, type/config, priority/high, needs-review

.github/labeler.yml:

# Component-based labeling
'component/ui':
  - 'app/src/main/java/**/ui/**/*'
  - 'app/src/main/java/**/theme/**/*'
  - 'app/src/main/res/**/*'

'component/domain':
  - 'app/src/main/java/**/domain/**/*'
  - 'app/src/main/java/**/usecase/**/*'

'component/data':
  - 'app/src/main/java/**/data/**/*'
  - 'app/src/main/java/**/repository/**/*'
  - 'app/src/main/java/**/local/**/*'
  - 'app/src/main/java/**/remote/**/*'

'component/di':
  - 'app/src/main/java/**/di/**/*'

'component/testing':
  - 'app/src/test/**/*'
  - 'app/src/androidTest/**/*'

# File type labeling
'type/gradle':
  - '**/*.gradle'
  - '**/*.gradle.kts'
  - 'gradle/**/*'
  - 'gradle.properties'

'type/ci-cd':
  - '.github/workflows/**/*'
  - '.github/**/*'

'type/documentation':
  - '**/*.md'
  - 'docs/**/*'

'type/config':
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.json'
  - '**/*.xml'
  - '**/*.toml'
  - '**/*.properties'

# Priority labeling
'priority/high':
  - 'app/src/main/AndroidManifest.xml'
  - 'build.gradle.kts'
  - 'gradle/libs.versions.toml'

'needs-review':
  - 'app/src/main/java/**/core/**/*'

🔒 Add comprehensive security audit report
  SECURITY_AUDIT.md
Labels: type/documentation

🔧 Fix CI/CD pipeline issues and add troubleshooting guide
  .github/workflows/ci-simple.yml
  .github/workflows/ci.yml
  CI_TROUBLESHOOTING.md
Labels: type/ci-cd, type/documentation, type/config

🔧 Update package name in instrumented test to match debug configuration
  app/src/androidTest/java/com/arch/architetureandroidtemplate/ExampleInstrumentedTest.kt
Labels: component/testing

Update CI configuration to handle empty test results and add selection state for ExampleInstrumentedTest
  .github/workflows/ci.yml
  .idea/deploymentTargetSelector.xml
Labels: type/ci-cd, type/config

✨ Add XML configuration files for Android test results and device management
  .idea/androidTestResultsUserPreferences.xml
  .idea/deviceManager.xml
  .idea/inspectionProfiles/Project_Default.xml
Labels: type/config

Update CI configuration to include permissions for workflows
  .github/workflows/ci-simple.yml
  .github/workflows/ci.yml
  .github/workflows/pr-size.yml
  .github/workflows/release.yml
Labels: type/ci-cd, type/config

🔧 Improve version extraction in CI configuration with error handling and cleanup
  .github/workflows/ci.yml
Labels: type/ci-cd, type/config

Change permissions from read to write for contents
  .github/workflows/ci.yml
Labels: type/ci-cd, type/config

⬆️ Update dependencies and target SDK
  .github/workflows/ci.yml
  app/build.gradle.kts
  gradle/libs.versions.toml
Labels: type/gradle, type/ci-cd, type/config, priority/high
